<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML table</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <table class="table">
        <thead>
            <td class="table-dark">First Name</td>
            <td class="table-dark">Last Name</td>
            <td class="table-dark">Full Name</td>
        </thead>
        <tbody class="table table-striped">
            {% for person in people %}
                <tr >
                    <td class="table-primary">{{person.first_name}}</td>
                    <td class="table-info">{{person.last_name}}</td>
                    <td class="table-success">{{person.first_name}} {{person.last_name}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>