<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Fruit Store</title>
</head>
<body>
    <h1>Dojo Fruit Store!</h1>
    <p>What would you like to buy?</p>
    <table>
        <thead>
            <td>Fruit Name</td>
            <td>Quantity</td>
         </thead>
         <tbody>
            <tr>
                <td>Strawberry</td>
                <td>
                    <select>
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </td>
            </tr>
            <tr></tr>
                <td>Raspberry</td>
                <td>
                    <select>
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Apple</td>
                <td>
                    <select>
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </td>
            </tr>
                
            </tr>
         </tbody>
    </table>
    <a href="">Your information</a>
    <form action="/buy" method="post">
        <p>
            <label for="name">Name:</label>
            <input type="text" name="name" />
         </p>
         <p>
            <label for="name">Your Student ID:</label>
            <input type="text" name="ID" />
         </p>
         <input type="submit" value="Buy me stuff!"/>
    </form>
</body>
</html>