<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Author Show</title>
</head>
<body>
    <h1>{{author1.name}}'s favorates</h1>
    <table>
        <thead>
            <td>Title</td>
            <td># of pages</td>
        </thead>
        <tbody>
            {% for book in author1.many_books %}
                <tr>
                    <td>{{book.title}}</td>
                    <td>{{book.number_of_pages}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h1>Add Author's Favorite</h1>
    <form action="/add_book" method="post">
        <p>
            <label>Book:</label>
            <input type="hidden" name="Author_id" value="{{author1.id}}"/>
            <select name="BOOK_id">
                {% for books in un_fav_book %}
                    <option value="{{books.id}}">{{books.title}}</option>
                {% endfor %}
            </select>
        </p>
        <input type="submit" value="Add" />
    </form>
    <a href="/authors">Home</a>
</body>
</html>