<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authors</title>
</head>
<body>
    <h1>New Author</h1>
    <form action="/create/author" method="post">
        <p>
            <label>Name:</label>
            <input type="text" name="Name"/>
        </p>
        <input type="submit" value="Create" />
    </form>
    <h1>All Authors</h1>
        <!-- {% for all in all_authors %}
            <a href="">{{all.name}}</a>
        {% endfor %} -->
    <a href="/books">Add Book</a>
</body>
</html>