<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey</title>
</head>
<body>
    <form action="/submit_form" method="post">
        <p>
            <label for="name">Your Name:</label>
            <input type="text" name="Name"/>
        </p>
        <p>
            <label for="loc">Dojo Location:</label>
            <select name="location">
                <option>Select a location</option>
                <option>San Jose</option>
                <option>San Francisco</option>
                <option>Seattle</option>
                <option>Texas</option>
                <option>Boston</option>
                <option>New York</option>
            </select>
        </p>
        <p>
            <label for="fav">Favorite Language:</label>
            <select name="language">
                <option>Select a language</option>
                <option>Java</option>
                <option>Python</option>
                <option>MERN</option>
                <option>C++</option>
                <option>Swift</option>
                <option>Javascript</option>
            </select>
        </p>
        <p>
            <label for="Comment">Comment(optional):</label>
            <textarea type="text" name="comment"></textarea>
        </p>
        <input type="submit" value="Button"/>
    </form>
</body>
</html>