<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground 2</title>
</head>
<style>
    .box{
            /* background-color: blue; */
            width: 80px;
            height: 80px;
            border: 2px solid rgb(150, 63, 138);
            display: inline-block;
            padding: 20px;
            margin: 20px;
    }

    h1{
        text-align: center;
    }
</style>
<body>
    <h1>Welcome!</h1>

    {% for i in range(0,times)%}
        <div class="box" style="background-color: {{colorBox}};"></div>
    {% endfor %}
</body>
</html>